server:
  port: 8080

spring:
  application:
    name: worldseed-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/world-seed
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    change-log: classpath:db/changelog/master.xml

